.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: auto;
    z-index: 10;
  }
}

.main-header__hero {
  @include flex-center;
  min-height: 158px;
  background-color: $bg-color-hero;
  background-image: url("../img/bg-hero-mobile@1x.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-hero-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    min-height: 290px;
    background-image: url("../img/bg-hero-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-hero-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-hero-desktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-hero-desktop@2x.png");
    }
  }

  &--index {
    min-height: 389px;

    @media (min-width: $tablet-width) {
      min-height: 518px;
    }
  }

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 57px;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-size: 1200px 57px;
    background-position: center;
  }
}

.main-header__title-img {
  width: 229px;
  height: 39px;
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
    margin-top: -16px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    height: 80px;
  }

  &--index {
    width: 282px;
    height: 214px;

    @media (min-width: $tablet-width) {
      width: 460px;
      height: 350px;
      margin-top: -10px;
    }
  }
}
