.sight {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &--reverse {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
    }
  }
}

.sight__image-wrapper {
  position: relative;
  overflow: hidden;
  height: 260px;

  @media (min-width: $tablet-width) {
    width: 66.666667%;
    min-height: 256px;
    height: auto;
  }
}

.sight__image {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}
