.social__list {
  @include reset-list;
  @include flex-center;
  gap: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid $bg-color-button;
  background-color: $bg-color-button;

  &:hover {
    border-color: $bg-color-button--hover;
    background-color: $bg-color-button--hover;
  }

  &:active {
    border-color: $bg-color-button--active;
    background-color: $bg-color-button--active;
  }

  &:focus {
    border-color: $bg-color-button--hover;
    outline: 0;
  }
}
